{% load staticfiles %}

<div id="techs">

    <h1> טכנולוגיות </h1>

    <div class="box">
        <ul class="tech small-block-grid-5">
            <li>
                <a href="http://git-scm.com/" title="Git">
                    <img src="{% static "img/icons/git.png" %}" alt="Git">
                </a>
            </li>
            <li>
                <a href="https://github.com/" title="GitHub">
                    <img src="{% static "img/icons/github.png" %}"
                         alt="GitHub">
                </a>
            </li>
            <li>
                <a href="http://www.python.org/" title="Python">
                    <img src="{% static "img/icons/python.png" %}"
                         alt="Python">
                </a>
            </li>
            <li>
                <a href="https://www.djangoproject.com/" title="Django">
                    <img src="{% static "img/icons/django.png" %}"
                         alt="Django">
                </a>
            </li>
            <li>
                <a href="http://www.linuxfoundation.org/" title="Linux">
                    <img src="{% static "img/icons/linux.png" %}" alt="Linux">
                </a>
            </li>
            <li>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
                   title="ECMAScript 2015 (Javascript)">
                    <img src="{% static "img/icons/es6.png" %}"
                         alt="Javascript">
                </a>
            </li>
            <li>
                <a href="https://angularjs.org/" title="AngularJS">
                    <img src="{% static "img/icons/angular.png" %}"
                         alt="AngularJS">
                </a>
            </li>
            <li>
                <a href="http://www.w3.org/html/logo/#the-technology"
                   title="HTML5">
                    <img src="{% static "img/icons/html5.png" %}" alt="HTML5">
                </a>
            </li>
            <li>
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3"
                   title="CSS3">
                    <img src="{% static "img/icons/css3.png" %}" alt="CSS3">
                </a>
            </li>
            <li>
                <a href="http://lesscss.org/" title="LESS">
                    <img src="{% static "img/icons/LESS.png" %}" alt="LESS">
                </a>
            </li>
        </ul>
    </div>


</div>
