{% extends 'website/base.html' %}
{% load staticfiles %}
{% block content_container %}



    <div id="about" class="pull-up">
        <div class="container">
            <div class=row>
                <div class="col-sm-10 col-sm-push-2">
                    <h1>
                        עלינו
                    </h1>
                </div>
            </div>

            <div class=row>
                <div class="col-sm-10 col-sm-push-2">
                    <h2>תרבות פתוחה
                        Open GLAM</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 logos">
                    <img class="img-responsive"
                         src="{% static "img/openglam-logo.png" %}"
                         alt="Open GLAM">


                </div>
                <div class="col-sm-10 col-md-8 col-lg-6">
                    <p>
                        <b>
                            תרבות פתוחה היא גילגולה השלישי של תוכנית
                            הכיתה: מסלול ייחודי מבית הסדנא לידע ציבורי,
                            להכשרת מפתחי ומפתחות תוכנה. התכנית מבוססת
                            על למידה תוך כדי עשייה, בפיתוח פרויקטים למען החברה.
                            זהו המחזור השלישי של תכנית זו, בהמשך לתוכנית קודמת
                            שנעשתה בשיתוף
                            פעולה עם הספרייה הלאומית.
                        </b>
                    </p>

                    <p>

                        בשנים האחרונות מפתחות ומפתחי תוכנה רבים מעוניינים
                        להצטרף לשורות הסדנא לידע ציבורי.
                        על מנת להעביר את הידע הנצבר בפיתוח בקוד פתוח, ועל מנת
                        להאיץ את תהליך הכניסה
                        לפרויקטים, נפתחה תכנית הכשרה מיוחדת זו.

                        אנחנו בסדנא לידע ציבורי, מאמינות ומאמינים שהדרך הטובה
                        ביותר ללמוד פיתוח היא באמצעות פיתוח - ולכן
                        עיקרה של התכנית מבוסס על עבודה בצוותים קטנים על
                        פרוייקטים אישיים.
                    </p>

                    <p>

                        המחזור הראשון של הכיתה התארח בקמפוס TLV של גוגל בחורף
                        2013-2014, בו לקחו חלק כ-30
                        מפתחות ומפתחי תוכנה, ובמסגרתו צמחו מספר פרויקטים
                        סדנאיים כמו <a href="http://www.kikar.org"
                                       target="_blank">כיכר
                        המדינה</a>, <a
                            href="https://play.google.com/store/apps/details?id=il.org.hasadna.opentrain"
                            target="_blank">רכבת פתוחה</a>, ועוד.
                    </p>

                    <p>

                        המחזור השני התקיים בירושלים באוקטובר 2015 בשיתוף פעולה
                        חדשני בין הסדנא
                        לידע ציבורי ובין הספרייה הלאומית, כאשר הפרויקטים אשר
                        פותחו במסגרת התכנית, התבססו על מאגרי המידע
                        העשירים והמגוונים של הספרייה.
                    </p>

                    <p>
                        בקיץ 2017 הפעילות התחדשה בפניה לגופי תרבות המעוניינים
                        להנגיש מאגרי מידע באופן מקוון:
                        מוזיאונים, גלריות, ספריות וארכיונים הוזמנו להגיש הצעות
                        לפרויקטים קטנים, אותם בהמשך יבצעו מתנדבי הסדנא לידע
                        ציבורי במסגרת התוכנית.

                    </p>


                    <p>
                        <a class="btn btn-primary"
                           href="{% url 'sa:dashboard' %}">
                            להרשמה לתכנית
                            &nbsp;
                            <i class="fa fa-play fa-flip-horizontal"></i>

                        </a>
                    </p>
                </div>
            </div>
            <div class=row>
                <div class="col-sm-10 col-sm-push-2">
                    <h2> הסדנא לידע ציבורי </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 logos">
                    <a href="http://www.hasadna.org.il" target="_blank"><img
                            class="img-responsive"
                            src="{% static "img/pkw_logo_cropped.png" %}"
                            alt=""></a>

                </div>
                <div class="col-sm-10 col-md-8 col-lg-6">
                    <p>
                        <b>הסדנא לידע ציבורי היא ארגון ללא מטרות רווח המקדם
                            שקיפות, אחריותיות ומעורבות אזרחית על ידי
                            איסוף, פתיחה והנגשה של מידע שמצוי ברשותם של גופי
                            ממשל ומוסדות ציבוריים. </b>
                    </p>

                    <p>
                        המתנדבות והמתנדבים שלנו מפתחים כלים טכנולוגיים בקוד
                        פתוח, לחשיפה והנגשה של מידע וידע לציבור
                        הרחב.
                    </p>

                    <p>
                        הפרויקטים עוסקים, בין השאר:<br/> ב<a
                            href="http://oknesset.org/" target="_blank">פעילות
                        פרלמנטרית של הכנסת</a>, ב<a
                            href="http://www.obudget.org/" target="_blank">תקציב
                        המדינה</a>
                        וב<a href="http://openmuni.org.il/">תקציבים של רשויות
                        מקומיות</a>. עוסקים גם ב<a
                            href="http://opentaba.info/">תב"ע</a> (תוכניות
                        בניין עיר),
                        ב<a href="http://www.openpension.org.il/"
                            target="_blank">מדיניות השקעות של קרנות הפנסיה</a>,
                        וב<a
                            href="http://www.anyway.co.il/" target="_blank">תאונות
                        דרכים</a>. חלקם גם עוסקים ב<a
                            href="https://play.google.com/store/apps/details?id=il.org.hasadna.opentrain"
                            target="_blank">נתוני זמן אמת של רכבת ישראל</a>,
                        ב<a
                            href="https://he.wikisource.org/wiki/%D7%95%D7%99%D7%A7%D7%99%D7%98%D7%A7%D7%A1%D7%98:%D7%A1%D7%A4%D7%A8_%D7%94%D7%97%D7%95%D7%A7%D7%99%D7%9D_%D7%94%D7%A4%D7%AA%D7%95%D7%97"
                            target="_blank">נוסחי
                        חוקים</a>, וב<a href="http://www.kikar.org"
                                        target="_blank">פעילות ח"כים ברשתות
                        החברתיות</a>. פרויקטים נוספים עוסקים במדדי
                        איכות הסביבה, במחירים
                        של רשתות המזון ועוד.
                    </p>

                    <p>
                        המפגשים השבועיים שלנו מתקיימים מדי יום ב' בגוגל קמפוס
                        (יגאל אלון 98, בניין אלקטרה, קומה 34)
                        מ-18:00 ועד חצות, ובירושלים מדי יום ג' מ-19:00
                        עד 23:00.
                    </p>


                    <p>
                        <a class="btn btn-default"
                           href="http://www.hasadna.org.il" target="_blank">
                            לאתר הסדנא לידע ציבורי
                            &nbsp;
                            <i class="fa fa-play fa-flip-horizontal"></i>
                        </a>
                    </p>

                </div>
            </div>
        </div>
    </div>


    <div id="mentors">

        <div class="container">
            <h2> צוות מלווה </h2>


            <div class="row" id="mentors-details">
                <div class="col-sm-4">
                    <h3>
                        עינת שרון
                    </h3>

                    <div class="row">
                        <div class="col-xs-6">

                            <a class="team-member"
                               href="https://www.linkedin.com/in/eynat-sharon/"
                               target="_blank">

                                <img class="img-thumbnail img-responsive"
                                     src="{% static "img/eynat.jpg" %}"
                                     alt="עינת שרון" class="img-thumbnail"/>
                                <i class="fa fa-linkedin-square fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <p>
                                מובילה את תוכנית OpenGLAM בסדנא לידע ציבורי,
                                ממונה על פיתוח תחום המדיה הדיגיטלית באיגוד
                                המוזאונים ואיקו"ם ישראל. </p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3>
                        מרי לויצקר
                    </h3>

                    <div class="row">
                        <div class="col-xs-6">

                            <a class="team-member"
                               href="https://il.linkedin.com/in/mary-loitsker-2ba4a693"
                               target="_blank">

                                <img class="img-thumbnail img-responsive"
                                     src="{% static "img/mary.jpg" %}"
                                     alt="מרי לויצקר" class="img-thumbnail"/>
                                <i class="fa fa-linkedin-square fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <p>
                                מנהלת תחום קשרי ממשל וקהילה בסדנא לידע ציבורי.
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3>
                        אודי אורון
                    </h3>

                    <div class="row">
                        <div class="col-xs-6">

                            <a class="team-member"
                               href="https://il.linkedin.com/in/udioron"
                               target="_blank">
                                <img class="img-thumbnail img-responsive"
                                     src="{% static "img/udi.jpg" %}"
                                     alt="אודי אורון"
                                     class="img-thumbnail"/>
                                <i class="fa fa-linkedin-square fa-2x"></i>
                            </a>

                        </div>
                        <div class="col-xs-6">
                            <p>נשוי ואבא לשלושה. מפתח תוכנה, מדריך וחובב
                                טבע.
                                <br/>

                                פועל לקידום תוכניות חדשניות להכשרת מפתחי
                                תוכנה.

                            </p>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
