{% extends 'website/base.html' %}
{% load static %}
{% block content_container %}

    <div class="home-top" id="intro-and-teaser">
        <div id="intro" class="pull-up">
            <div class="container">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-8">
                        <div class="shady">

                            <h1>
                                תרבות פתוחה
                                <br/>
                                Open GLAM Accelerator

                            </h1>

                            <img class="main-logo"
                                 src="{% static "img/openglam-logo.png" %}"
                                 alt="Open GLAM">


                            {#                            <h3>#}
                            {#                                שמונה שבועות של#}
                            {#                        <div class="things">#}
                            {#                            <div class="active">#}
                            {#                                עשיה#}
                            {#                            </div>#}
                            {#                            <div>#}
                            {#                                פיתוח תוכנה#}
                            {#                            </div>#}
                            {#                            <div>#}
                            {#                                יצירה#}
                            {#                            </div>#}
                            {#                            <div>#}
                            {#                                בניה#}
                            {#                            </div>#}
                            {#                            <div>#}
                            {#                                למידה#}
                            {#                            </div>#}
                            {#                            <div>#}
                            {#                                תרומה#}
                            {#                            </div>#}
                            {#                            <div>#}
                            {#                                עבודת צוות#}
                            {#                            </div>#}
                            {#                            <div>#}
                            {#                                יזמות#}
                            {#                            </div>#}
                            {#                        </div>#}
                            {##}
                            {#                            </h3>#}

                            <h3>
                                חורף 2017
                                -
                                תל-אביב
                            </h3>

                            <ul class="list-unstyled">
                                <li>
                                    תמיד רצית לכתוב תוכנה למען החברה?
                                </li>
                                <li>
                                    ללמוד לעבוד עם כלי קוד פתוח?
                                    לפתח יישומי Web מתקדמים?
                                </li>
                                <li>
                                    רוצה לעבוד וללמוד בצוות לצד מפתחות ומפתחים
                                    נוספים?
                                </li>
                                <li>
                                    <b>זאת ההזדמנות שלך!</b>
                                </li>
                            </ul>
                            <div class="row glam">
                                {% for key, title in view.glam %}
                                    <div class="col-xs-6 col-sm-3">

                                        <img src="{% static "img/glam/icon-"|add:key|add:".png" %}"
                                             alt="{{ title }}">
                                        <div class="caption">{{ title }}</div>
                                    </div>

                                {% endfor %}
                            </div>
                            <p>
                                Open GLAM Accelerator או בשמו העברי "תרבות
                                פתוחה",
                                הוא פרויקט של הסדנא לידע ציבורי, המבוסס על
                                עקרונות
                                תנועת <a
                                    href="https://openglam.org/principles/">Open
                                GLAM</a> העולמית (GLAM: Galleries,
                                Libraries, Archives, and Museums), שמטרתה לפתוח
                                ולהנגיש אוצרות תרבות לציבור.
                                בתוכנית משתתפים מוסדות תרבות ישראליים מובילים -
                                הספרייה הלאומית, סינמטק ירושלים, בית התפוצות,
                                רשות
                                העתיקות - שברשותם מאגרים של פריטי תרבות, אמנות
                                ומורשת היסטורית שעברו דיגיטציה ומוכנים לפתיחה
                                והנגשה לקהל הרחב.
                            </p>
                            <p>
                                במהלך התוכנית, קבוצה של כעשרה
                                אנשי/נשות תוכנה ומעצבי/ות UX ו-UI יעבדו יחד עם
                                נציגי מוסדות התרבות. הם יפתחו יחדיו אפליקציות
                                Web
                                בקוד פתוח על בסיס המאגרים, כדי לחשוף ולהנגיש
                                אותם
                                לציבור.                             </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="teaser">

            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <p>
                            הסדנא לידע ציבורי מזמינה אותך לתכנית יצירה והכשרה
                            ייחודית לפיתוח תוכנה.
                            <br/>
                            שלושה חודשים של יצירה מתחילים בקרוב. זה הזמן
                            להצטרף, ולהגשים חלום.
                        </p>
                    </div>

                    <div class="col-sm-5 text-center">
                        <a href="{% url 'program' %}" class="btn btn-primary">
                            לפרטים
                            נוספים &raquo; </a>&nbsp;
                        <a href="{% url 'sa:dashboard' %}"
                           class="btn btn-primary">
                            להרשמה
                            לתכנית &raquo; </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static "js/home.js" %}"></script>
{% endblock %}