{% extends 'website/base.html' %}
{% block content_container %}

    <div>

        <div id="howitworks" class="pull-up">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <h1> איך זה עובד? </h1>

                        <p>
                            <b>
                                החל מה-30/10/2017 ולאורך כשלושה חודשים נפגש
                                יחד,
                                קבוצה של כעשרה מפתחות ומפתחי תוכנה, מעצבות
                                ומומחות UX ונעבוד בצוותא
                                בימי שני בתל אביב, בקפמוס TLV של גוגל.
                                נלמד ונעבוד בצוות, ונבנה מיזמים נבחרים עבור
                                ספריות, ארכיונים, גלריות ומוזיאונים.
                            </b>
                        </p>

                        <p>
                            התכנית מיועדת למעוניינים לפתח פרויקט בקבוצה,
                            ומוכנים להתחייב להגיע ל-8 שעות לפחות מדי שבוע במהלך
                            תקופת התכנית,
                            ומעוניינים להשתלב בהמשך בפעילות הסדנא לידע ציבורי.
                            התכנית תכלול ליווי והנחיה מפעילי הסדנא לידע ציבורי,
                            ותלווה על ידי נציגים מגופי התרבות המשתתפים.
                        </p>
                        <p>
                            בחודשים שקדמו לתוכנית אותרו ונבחרו פרוקטים קטנים
                            המנגישים אוצרות תרבות של גופים ציבוריים.
                            המשתתפות/ים יגבשו בתחילת התוכנית צוותים של 2-3
                            נשות/אנשי צוות: כל צוות יעבוד בהתנדבות על פרויקט
                            אחד מתוך
                            הפרויקטים שנבחרו להשתתף בתוכנית.
                        </p>
                        <h2>סיליבוס ומתודולוגיה </h2>
                        <p>
                            ליבה של התוכנית נעוץ בעשיה:
                            כל צוות יעסוק בעיקר בפיתוח, ובאפשרותו לבחור כרצונו ממגוון רחב של כלים בקוד פתוח.
                            רובו של הלימוד יעשה באופן עצמאי, תוך מתן ליווי מצוות ההדרכה שיעביר
                            הדרכות נבחרות בהתאם לצרכי הצוותים, עם התמקדות בפיתוח בקוד פתוח באמצעות
                            .Python, Django ו-JavaScript.
                            במידת האפשר נשדך לכל צוות מנטור מנוסה שילווה אותו במהלך התוכנית.
                            <br/>
                            במקביל פעילי הסדנא לידע ציבורי ואורחים נוספים יעבירו הרצאות בהן יספרו על נסיונם ועל מבחר נושאים כמו
                            עיצוב מוצר, זכויות יוצרים ועוד.
                        </p>

                        <a class="btn btn-primary navbar-btn btn-lg"
                           href="{% url 'projects:list' %}">
                            <b>לרשימת הפרויקטים</b>
                            <i class="fa fa-play fa-flip-horizontal"></i>
                        </a>
                        <a class="btn btn-primary navbar-btn btn-lg"
                           href="{% url 'sa:dashboard' %}">
                            <b>להרשמה</b>
                            <i class="fa fa-play fa-flip-horizontal"></i>
                        </a>
                    </div>
                    <div class="col-sm-5">
                        {% include "website/_techs.html" %}
                    </div>

                </div>
            </div>
        </div>

        <div id="luz">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="box">
                            <h2> לוח זמנים
                            </h2>
                            <ul>
                                <li>
                                    <b>הרשמה ראיונות והכנות:</b>
                                    אוקטובר
                                </li>
                                <li>
                                    <b>מפגשי בונוס מיוחדים:</b>
                                    <ul>
                                        <li>25/10: מפגש עם כריס מייקלס, מנהל
                                            הדיגיטל
                                            של ה-National Gallery בלונדון.
                                        </li>
                                        <li>26/10: אופק דיגיטלי - כנס שנתי של
                                            איגוד
                                            המוזיאונים
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <b>תחילת התכנית:</b>
                                    30/10
                                </li>
                                <li>
                                    <b>שבועות 1-2:</b>
                                    היכרות עם הסדנא לידע ציבורי, עם מידע פתוח
                                    ,עם הגופים המשתתפים, ועם הטכנולוגיות בהן
                                    נשתמש
                                </li>
                                <li>
                                    <b>שבועות 3-8:</b>
                                    עבודה על מיזמים בצוותים
                                </li>
                                <li>
                                    <b>
                                        הצגת תוצרים:
                                    </b>
                                    ינואר 2018 - אירוע פתוח לציבור
                                </li>
                                <li>
                                    <b>
                                        בהמשך:
                                    </b>
                                    השתלבות בפעילות הסדנא לידע ציבורי
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="box">

                            <h2> תאריכים חשובים </h2>
                            <ul>
                                <li>
                                    <b>
                                        ההרשמה פתוחה עד 22/10/2017
                                    </b>
                                </li>

                                <li>


                                    <b>
                                        מפגשי התכנית; ימי שני, 10:00-18:00
                                    </b>
                                    <ul>


                                        <li>
                                            מפגשי חובה:
                                            30/10, 6/11, 13/11, <br>
                                            20/11, 27/11, 11/12, 25/12, 8/1.
                                        </li>
                                        <li>
                                            מפגשי רשות:
                                            4/12, 18/12, 1/1
                                        </li>
                                        <li>
                                            ובנוסף: כל יום שני מ-18:00 ועד
                                            הלילה: מפגשי
                                            הפיתוח של הסדנא לידע ציבורי
                                        </li>

                                    </ul>
                                </li>
                                <li>

                                    <b>
                                        ינואר 2018: האקתון תרבות פתוחה
                                    </b>
                                </li>
                            </ul>

                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
{% endblock %}
