{% extends 'website/base.html' %}
{% load staticfiles %}
{% block content_container %}



    <div id="about" class="pull-up">
        <div class="container">
            <div class=row>
                <div class="col-sm-6">
                    <h1>
                        הצהרת פרטיות
                    </h1>

                    <p>
                כל המידע אשר יסופק ישמש את צוות התוכנית בלבד (אנשי ונשות הסדנא לידע ציבורי אשר לוקחים חלק בפרויקט) ולצורך התוכנית בלבד.
                    </p>

                    <p>
                        לשאלות או בירורים נוספים, ניתן לפנות ישירות לצוות התוכנית, eynat@hasadna.org.il.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <hr/>
    </div>

{% endblock %}
