[packages]
ipython = "*"
pytz = "*"
bleach = "*"
markdown = "*"
pillow = "*"
psycopg2 = "*"
django = "*"
django-authtools = "*"
django-braces = "*"
django-extensions = "*"
social-auth-core = {extras = ["openidconnect"]}
social-auth-app-django = "*"
requests-oauthlib = "*"
django-bootstrap3 = "*"
gunicorn = "*"
setproctitle = "*"

[dev-packages]
fabric3 = "*"
coverage = "*"

