/*@import url("https://fonts.googleapis.com/css?family=Alef:400,700|Assistant:300,400,600,700&subset=hebrew");*/
@import url("https://fonts.googleapis.com/css?family=Alef:400,700|Assistant:300,400,600,700&subset=hebrew");

body {
    font-family: 'Assistant', sans-serif;
    direction: rtl;
}

input[type=email] {
    direction: ltr !important;
}

.ib {
    display: inline-block;
}

.top-bar {
}

.pull-up {
    margin-top: -20px;
}

.top-bar.navbar {
    border-radius: 0;
    font-size: 1.2em;
}

.top-bar .navbar-brand {
    text-shadow: 2px 2px black;
    color: white;
    font-weight: bold;
    margin-top: -3px;
}

.top-bar .navbar-brand.active {
    background: black;
}

h2 {
    margin-top: 20px;
    color: white;
}

.title-area h1 {
    /*font-family: 'Montserrat', 'Alef', sans-serif;*/
}

.home-top {
    background: black;
}

#intro {
    padding: 30px 0 0;
    background: url('../img/home-bg.jpg?x=1') no-repeat center center;
    max-width: 100%;
    min-height: 400px;
    background-size: cover;
    color: #eee;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#intro .shady {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    margin: 0 0 30px 0;
    text-align: center;
}

#intro .shady ul {
    font-size: larger;
}

#intro .shady h1 {
    margin-top: 5px;
    margin-bottom: 0;
    text-shadow: 2px 2px black;
    color: white;
    font-weight: bold;
}

.main-logo {
    max-width: 100%;
    display: inline-block;
    height: auto;
    padding: 15px 0;
}

.glam > div {
    text-align: center;
}

.glam img {
    max-width: 100%;
    display: inline-block;
    height: auto;
    padding: 3px 0;
}

.glam .caption {
    font-weight: bold;
    font-size: 1.5em;
}

#intro h3 {
    margin-top: 3px;
    margin-bottom: 3px;
    color: white;
    font-weight: bold;
}

#intro h1, #intro h3 {
    color: white;
}

.things {
    line-height: 1em;
}

.things div {
    transition: opacity 0.8s ease-out;
    opacity: 0;
    height: 0;
}

.things div.active {
    /*transition: opacity 0.8s ease-in;*/
    opacity: 1;
    line-height: 1em;
    height: 1em;
}

#intro .shady p {
    font-size: 1.2em;
}

.toolbar {
    background: black;
}

#teaser {
    background-color: #222222;
    color: white !important;
    padding: 15px 0 35px;
}

#teaser p {
    margin-bottom: 5px;
    font-size: 1.2em;
}

#teaser .btn {
    font-size: 1.4em;
    margin-bottom: 4px;
}

#howitworks {
    background: url('../img/program-bg.png') no-repeat center center;
    background-size: cover;
    color: white !important;
    padding: 10px 0;
}

#howitworks p {
    font-size: larger;
}

/*#howitworks a {*/
/*color: #00b3ee;*/
/*}*/

#suggest {
    background: green;
    color: white !important;
    padding: 10px 0;
}

#luz {
    background: url('../img/program2-bg.png') no-repeat center center;
    background-size: cover;
    color: white !important;
    padding: 10px 0 35px;
}

#techs {
}

#techs .box {
    background: none;
}

#techs .box li {
}

#about {
    background: #ffffff;
}

#about p, #about h1, #about h2 {
    color: black;
}

#about p {
    font-size: 1.2em;
}

#about .logos {
}

#about .logos .hackita {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    border: 3px solid #333;
    margin-left: -10px;
    margin-right: -10px;
    padding: 5px 10px;
    max-width: 200px;
}

@media (max-width: 767px) {

    #about .logos {
        float: left;
        max-width: 200px;
    }
}

@media (min-width: 768px) {
    #about .logos {
    }

    #about .logos img {
        margin-right: auto;
        margin-left: auto;
    }

    #about .logos .hackita {
        font-size: 24px;
    }

}

@media (min-width: 1024px) {
    #about .logos .hackita {
        font-size: 32px;
    }

}

.team-member {
    position: relative;
    display: block;
}

.team-member i {
    position: absolute;
    right: 3px;
    bottom: 3px;
    background: rgba(255, 255, 255, 0.1);
    padding: 1px 3px;
    border-radius: 4px;
}

.box {
    background: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 0 15px;
}

.box h2 {
    color: black;
    margin-bottom: 0;
}

.box ul {
    padding: 0 20px;
}

.box li {
    margin: 0;
    padding: 0 0 3px;
}

#howitworks .box ul {
    padding: 0 5px;
}

#howitworks .box li {
    padding: 0.6em 0;
}

#howitworks .box li:last-child {
}

#howitworks .box li b {
    font-size: 1.2em;
}

#luz .tech .techs li {
    text-align: center;
}

#mentors {
    background: #222222;
    color: white !important;
    padding: 10px 0 30px;
}

.circular {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    margin: 0 auto;
}

#sponsors {
    padding: 20px;
    color: black;
    border-bottom: #f7f7f7 15px solid;
}

.inspired {
    font-size: larger;
    padding-top: 5px;
}

.hasadna-block {
    max-width: 350px;
    text-align: center;
    margin: 0 auto 15px;
}

.b4hasadna, .hasadna {
    font-size: 19px;
    line-height: 1.4em;
}

.b4hasadna {
    color: #444;
    padding-right: 0;
    vertical-align: middle;
}

.hasadna-block img {
    width: 160px;
    height: 80px;
}

@media (min-width: 992px) {
    .b4hasadna, .hasadna {
        font-size: 26px;
        line-height: 1.4em;
    }

    .hasadna-block img {
        width: 160px;
        height: 80px;
    }

    /*.inspired {*/
    /*padding-top: 15px;*/
    /*}*/
}

#sponsors .x {
    background: white;
    border: 1px solid #eee;
    padding: 5px;
}

#sponsors .nli {
    padding-top: 5px;
}

#sponsors .nli img {
}

#sponsors .sponsor {
    text-align: center;
}

#faq {
    color: black;
    padding: 10px 0;
}

#faq h2, #sponsors h2 {
    color: black;
}

#faq dl {
    font-size: medium;
    text-align: justify;
}

#faq dd {
    margin-bottom: 30px;
}

.htmlcontent {

}

.htmlcontent p {
    margin-bottom: 0.25em;
}

.htmlcontent ul {
    padding: 0 1.5em;
}

.panel.problem {
    border-style: solid;
    border-width: 1px;
    border-color: #c60f13;
    margin-bottom: 1.25em;
    padding: 1.25em;
    background: #d59392;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

#blog_list {
    color: black;
    padding: 10px 0;
}

.blog h2 {
    color: black;
}

.small-block-grid-5 li {
    float: right;
    width: 20%;
    list-style: none;
}

.small-block-grid-5 li img {
    width: 100%;
}

.login-buttons .btn {
    white-space: normal;
}

#registration-btn {
    margin-right: 4px;
}

#mentors-details {
    margin-bottom: 20px;
}

.form-group.required .control-label:after {
    content: "*";
    color: #580000;
}

.project-list .list-group-item {
    font-size: 1.2em;
    border-bottom: 6px solid #19f2aa;
    margin-bottom: 6px;
}
.project-list .img-responsive  {
    margin-bottom: 5px;
}


footer {
  height: 131px;
  width: 100%;
  background-color: #19f2aa;
  color: white;
  /*margin-top: 30px;*/
}

.footer-content {
  position: relative;
  display: flex;
  direction: rtl;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.footer-right {
  display: flex;
  align-items: center;
}
@media (max-width: 411px) {
  .footer-right {
    display: inline-block;
  }
}
@media (max-width: 411px) {
  .footer-right {
    display: none;
  }
}

.footer-logo {
  padding-right: 32px;
  text-align: center;
}
@media (min-width: 412px) and (max-width: 1109px) {
  .footer-logo {
    padding: 0 10px;
  }
  .footer-logo img {
    width: 88%;
  }
}
@media (max-width: 411px) {
  .footer-logo {
    padding: 0 10px;
  }
  .footer-logo img {
    width: 30%;
  }
}

.footer-txt {
  font-family: 'Alef', sans-serif;
  font-size: 44px;
  font-weight: bold;
  padding-right: 32px;
}

.footer-txt a {
  color:white;
}

@media (min-width: 412px) and (max-width: 1109px) {
  .footer-txt {
    font-size: 26px;
    padding-right: 0;
  }
}
@media (max-width: 411px) {
  .footer-txt {
    font-size: 18px;
  }
}

.footer-icons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 20px;
  top: -25px;
}
@media (max-width: 767px) {
  .footer-icons {
    justify-content: space-around;
    width: 100%;
    left: 0;
  }
}

.one-icon-wrapper {
  background-color: #19f2aa;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  cursor: pointer;
}
.one-icon-wrapper:hover {
  cursor: pointer;
}
.one-icon-wrapper:hover.facebook {
  background-color: #365291;
}
.one-icon-wrapper:hover.chat {
  background-color: #00b0ff;
}
.one-icon-wrapper:hover.mail {
  background-color: #d54937;
}
.one-icon-wrapper:hover.twitter {
  background-color: #2fc7ff;
}
@media (max-width: 411px) {
  .one-icon-wrapper {
    width: 45px;
    height: 45px;
  }
}

.footer-left {
  margin-left: 2%;
}
@media (max-width: 411px) {
  .footer-left {
    width: 96%;
    text-align: center;
    margin: auto;
  }
}

.footer-icon {
  fill: white;
}

.rights-txt {
  font-size: 14px;
  font-weight: bold;
  width: 210px;
  line-height: 1;
  padding-top: 5px;
}
.rights-txt a {
  color: white;
}
@media (max-width: 411px) {
  .rights-txt {
    width: 100%;
  }
}
