{% extends 'users/base.html' %}
{% load i18n humanize hackita %}

{% block content %}

    {% if not user.id %}
        <div class="well">
            {% trans "Answering as" %}
            {{ object.user|u }} &lt;{{ object.user.email }}&gt;
        </div>
    {% endif %}

    <h1>{{ object.survey.email_subject }}</h1>

    <div class="row">
        <div class="col-lg-4">
            <div class="q13e">
                {% if form.form_description %}
                    {{ form.form_description|linebreaks }}
                {% endif %}
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="form-actions">
                        <input class="btn btn-primary btn-block" type="submit"
                               value="{% trans "Send" %}"/>
                    </div>
                </form>

            </div>
        </div>

        <div class="col-lg-8">
            <div class="panel htmlcontent">
                {{ object.survey.email_content|safe }}
            </div>
        </div>

    </div>

{% endblock %}
