{% extends 'users/base.html' %}
{% load i18n %}
{% load humanize %}
{% load hackita %}

{% block content %}

    <div class="pull-right">
        <a href="{% url "surveys:create" %}" class="btn btn-primary"><i
                class="glyphicon glyphicon-plus"></i></a>
    </div>

    <h1>
        {% trans "Surveys" %}
    </h1>

    <ul class="list-group">
        {% for o in object_list %}
            <li class="list-group-item">
                {{ o|u }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
