{% extends 'users/base.html' %}
{% load i18n staticfiles gravatar bootstrap3 %}
{% block content %}

    <div class="panel panel-primary">

        <div class="panel-heading">
            <h1 class="panel-title">{% trans "My Profile" %}</h1>
        </div>

        <div class="panel-body">
            <form method="post">
                {% csrf_token %}

                <div class="form-group">
                    <label class="control-label">
                        {% trans "name" %}
                    </label>

                    <p class="form-control-static">
                        {{ user.email|gravatar:"36" }}
                        {{ user.community_name }}
                        (<a href="//gravatar.com/">{% trans "Change profile picture" %}</a>)
                    </p>
                </div>

                {% bootstrap_form form %}

                <div class="text-center">
                    <button class="btn btn-primary btn-block">{% trans "Save" %}</button>
                </div>
            </form>
        </div>

    </div>

{% endblock %}
