{% extends 'users/base.html' %}
{% load i18n hackita %}

{% block content %}

    <ol class="breadcrumb">
        <li>
            <a href="{% url "users:list" %}">
                {% trans "Users" %}
            </a>
        </li>
        <li>
            {{ object|u }}
        </li>
    </ol>

    <h1>{% trans "Edit Tags" %}</h1>

    <div class="panel panel-default">

        <div class="panel-body">

            <form method="post" novalidate>
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="form-actions">
                    <input class="btn btn-primary" type="submit"
                           value="{% trans "Save" %}"/>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
